<h1>Edit poll</h1>

<%= form_with(model: @poll, local: true, :html => { :class => "form-horizontal" }) do |form| %>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', polls_path %>