<h1><%= @poll.description %></h1>
<% if admin_signed_in? %>
  <h4>
  <%= link_to 'Add new option', new_poll_option_path(poll_id: @poll.id)%>
  </h4>
<% end %>
<h4>Options:</h4>

<%= form_with url: vote_poll_path(@poll) do |f| %>
  <% @poll.options.each do |option| %>
    <%= f.label :option, option.description, value: option.id.to_s  %>
    <%= f.radio_button :option, option.id.to_s %>
    <%= "voted: #{@decorator.number_of_votes(option)} times, #{@decorator.votes_percentage(option)}%" %>
    <% if admin_signed_in? %>
      <%= link_to 'Delete', [@poll, option],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    <% end %>
    <br/>
  <% end %>
  <%= f.text_field :voter_name, placeholder: "your name here" %>
  <%= f.submit 'Vote' %>
<% end %>


